@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&family=Ubuntu:wght@300;400;700&display=swap");

:root {
  font-family: "Rubik";
  color: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1520px;
  margin: 0 auto;
  /* reduce this to 20px on screens
  smaller than 768px */
  padding: 0 32px;
}

header {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  gap: 71px;
  padding-top: 100px;
}

.hero-container article {
  width: 58%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-container > div {
  width: 42%;
  position: relative;
}

.hero-container > div img {
  width: 100%;
}

.hero-container article > div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.dash {
  width: 48px;
  height: 2px;
  background-color: #333333;
}

.hello-text {
  font-family: "Ubuntu";
  font-size: 34px;
  font-weight: 700;
  line-height: 39.07px;
}

.hero-container article h1 {
  font-size: 74px;
  line-height: 87.69px;
  font-weight: 500;
}

.hero-container article h1 span {
  font-weight: 700;
}

.hero-container article h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 47.4px;
}

.hero-container article > p {
  font-size: 24px;
  line-height: 28.44px;
  font-weight: 400;
}

.social {
  display: flex;
  justify-content: space-between;
  padding: 56px 0;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 31.84px;
}

.scroll-icon-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.social-empty-box {
  width: 150px;
}

.portfolio {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}

.portfolio h3 {
  font-size: 54px;
  font-weight: 500;
  line-height: 63.99px;
  text-align: center;
}

.portfolio nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

/* .portfolio figure {
  display: flex;
  gap: 32px;
}

.portfolio figure > figure {
  position: relative;
  width: 33.33%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.portfolio figure > figure > img {
  width: 100%;
} */

.portfolio figure {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 32px;
}

.portfolio figure > div {
  position: relative;
}

.portfolio figure > div > img {
  width: 100%;
  height: 100%;
}

.portfolio figure div:nth-child(1) {
  grid-row-start: 1;
  grid-row-end: 7;
}

.portfolio figure div:nth-child(4) {
  grid-row-start: 7;
  grid-row-end: 13;
}

.portfolio figure div:nth-child(2) {
  grid-row-start: 1;
  grid-row-end: 8;
}

.portfolio figure div:nth-child(5) {
  grid-row-start: 8;
  grid-row-end: 13;
}

.portfolio figure div:nth-child(3) {
  grid-row-start: 1;
  grid-row-end: 6;
}

.portfolio figure div:nth-child(6) {
  grid-row-start: 6;
  grid-row-end: 13;
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 140px 0;
}

.contact-container h2 {
  text-align: center;
  font-size: 54px;
  font-weight: 500;
  line-height: 63.99px;
}

.contact-container > div {
  display: flex;
  justify-content: space-between;
}

.contact-container > div > * {
  width: 48%;
}

.contact-container article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-container article > p {
  font-size: 40px;
  font-weight: 300;
  line-height: 52px;
  margin-top: 60px;
}

.contact-container article ul {
  list-style: none;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 80px 60px;
  background-color: #333333;
}

.contact-form input,
.contact-form textarea {
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.59px;
  color: white;
  font-family: inherit;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: white;
}

.contact-form input,
.contact-form textarea {
  display: block;
  width: 100%;
  padding-bottom: 8px;
  border-bottom: 1px solid white;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
}

.contact-form textarea {
  resize: none;
}

.contact-form button {
  padding: 16px 40px;
  font-size: 14px;
  font-weight: 300;
  line-height: 16.59px;
  color: #333333;
  background-color: white;
  border: none;
  align-self: flex-end;
  cursor: pointer;
}

/* media query */
@media screen and (max-width: 768px) {
  body {
    padding: 0 20px;
  }

  .hero-container {
    flex-direction: column;
  }

  .hero-container > * {
    width: 100% !important;
  }

  .social {
    align-items: center;
    justify-content: center;
  }

  .scroll-icon-container,
  .social-empty-box {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  body {
    padding: 0 16px;
  }

  .search-icon {
    display: none;
  }

  .logo {
    width: 96px;
    height: 38px;
  }

  .menu-container p {
    display: none;
  }

  .hero-container {
    padding-top: 80px;
  }

  .hero-container article h1 {
    font-size: 32px;
    line-height: 38px;
  }

  .hero-container article h2,
  .hero-container article p {
    font-size: 18px;
    line-height: 21px;
  }
}
