@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&family=Ubuntu:wght@300;400;700&display=swap");

:root {
  font-family: "Rubik";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1520px;
  margin: 0 auto;
  /* reduce this to 20px on screens
  smaller than 768px */
  padding: 0 32px;
}

header {
  padding: 36px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media screen and (max-width: 768px) {
  body {
    padding: 0 20px;
  }
}

@media screen and (max-width: 400px) {
  body {
    padding: 0 16px;
  }

  .search-icon {
    display: none;
  }

  .logo {
    width: 96px;
    height: 38px;
  }

  .menu-container p {
    display: none;
  }
}
